.imagePreview {
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;

    > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .changeImage,
    .cancelImage {
        border-radius: 50px;
        position: absolute;
        background-color: rgb(23 24 43 / 73%);
        color: white;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: rgb(23 24 43 / 50%);
        }
    }

    .changeImage {
        padding: 7px;
        font-weight: 600;
        width: 36px;
        height: 36px;
        bottom: 0;
        right: 0;

        img {
            width: 100%;
        }
    }

    .cancelImage {
        left: 0;
        bottom: 0;
        padding: 8px;
    }
}
