.communityPreview {
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    grid-template-columns: 40px 1fr auto;

    &:hover {
        background-color: #fafafa;
    }
    .communityIcon {
        width: 40px;
        height: 40px;
    }

    .info {
        .communityName {
            font-weight: 500;
            font-size: 14px;
        }
        .members {
            display: flex;
            align-items: center;
        }
    }

    .join {
        background: #2b4162ff;
        color: white;
        padding: 7px 12px;
        border-radius: 10px;
        margin-left: auto;
        transition: background-color 200ms ease;

        &:hover {
            background: #2b4162ff;
        }
    }
}
