.comment {
    display: grid;
    gap: 5px;
    grid-template-columns: 40px auto;
    padding-block: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    &__profile_pict {
        width: 40px;
        height: 40px;
    }

    &__content {

        &__header {
            display: flex;
            align-items: center;

            &__top_left {

            }
            &__top {
                display: flex;
                align-items: center;
            }
            &__display_name {
                font-size: 12px;
                font-weight: bold;
            }
             &__username {
                 font-size: 11px;
                 font-weight: 500;
                 color: #838383;
             }

            span {
                margin-inline: 5px;
            }

            &__time {
                font-size: 0.7rem;
            }

            &__menu {
                margin-inline-start: auto;
                position: relative;
                cursor: pointer;
            }
        }

        &__text {
            font-size: 0.8rem;
            margin-block: 5px;
        }

        &__footer {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;

            &__votes {

            }

            &__reply {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                gap: 5px;
                border-radius: 50px;

            }

            .vote_icon {
                border-radius: 50%;
                padding: 8px;
                aspect-ratio: 1;
                height: 100%;
            }

            button:hover {
                transition: background-color 0.2s;
            }
        }
    }

    .view_comment {
        color: #666;
        font-size: 12px;
        margin: 5px 0 5px 10px;
        cursor: pointer;
    }
}

.btn_hover:hover {
    background-color: #f2f2f2;
}
