.post {
    background-color: white;
    padding-inline: 15px;
    border-radius: 10px;

    &__wrapper {
        position: sticky;
        top: 0;
        padding-bottom: 5px;
        background-color: white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-block: 5px;

        > button {
            background-color: inherit;
        }

        &__btn_back {
            border-radius: 50%;
            padding: 5px;
            background-color: red;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #e5e5e5;
            }
        }

        &__title {
            line-height: 28px;
        }
    }

    &__info_bar {
        display: flex;
        gap: 10px;
        margin-block: 10px;

        .pics {
            position: relative;
            .community_icon {
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }
            .user_icon {
                position: absolute;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                background-color: white;
                top: 16px;
                left: 18px;
                padding: 1px;
            }
        }

        .names {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .community_name {
                font-weight: bold;
            }
            .username {
                color: #888;
                font-size: 12px;
                //font-weight: 500;

                .displayName {
                    font-weight: 500;
                }

                .dot {
                    margin-inline: 4px;
                }
            }
        }



        &__time {
            color: #888;
            font-size: 0.8rem;
            line-height: 1.25rem;
        }

        &__dots {
            margin-inline-start: auto;
            color: #4a4a4a;
            cursor: pointer;
            position: relative;
        }

        &__community {
            position: fixed;
            display: flex;
            align-items: start;
            gap: 5px;

            &__icon {
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }

            &__name {
                color: #888;
            }
        }
    }
}
