@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --main-bg: #f6f6f6;
    --main-color: #d7420cff
}

input {
    font-family: inherit;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: inherit;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    transition: background-color 0.2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: revert;
}

body {
    background-color: var(--main-bg);
    overflow-y: scroll;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn {
    padding: 10px 20px;
    //padding: 0.75rem 2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.btn-primary {
    @extend .btn;
    color: #fff;
    background-color: rgb(215, 66, 12);
    &:hover {
        background-color: rgb(157, 48, 8);
    }
}

.btn-secondary {
    @extend .btn;
    color: #fff;
    background-color: rgb(104, 104, 104);
    &:hover {
        background-color: rgb(64, 64, 64);
    }
}

.btn-outline {
    @extend .btn;
    display: flex;
    align-items: center;
    border: 1px solid black;
    gap: 6px;

    &:hover {
        background-color: #f2f2f2;
    }
}


#overlay {
    opacity: 0;
    display: none;
    position: fixed;
    background-color: rgba(73, 63, 57, 0.35);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 0.2s ease,
                position 0.2s ease;
    z-index: 2;

    &.active {
        opacity: 1;
        display: block;
    }
}

.navbar-wrapper {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
    border-bottom: 1px solid #e5e5e5;
    top: 0;
    //background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.main {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 600px 300px;
    gap: 15px;
    width: fit-content;
    height: calc(100vh - 80px);
    margin: 80px auto 0;

    .left {
        z-index: 5;
        transition: transform 0.2s ease-in-out;

        .left-overlay {
            opacity: 0;
            position: fixed;
            background-color: rgba(73, 63, 57, 0.35);
            left: 0;
            right: 0;
            top: 70px;
            bottom: 0;
            transition: opacity 0.2s ease;
            pointer-events: none;
        }
    }
    .left-placeholder {
        display: none;
    }

    .middle {
        max-width: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 77px 600px 300px;
        .middle {
        }
    }
}

@media screen and (max-width: 1030px) {
    .main {
        grid-template-columns: 77px 600px 250px;
    }
}

@media screen and (max-width: 990px) {
    .main {
        grid-template-columns: 77px 600px;
        .right {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: 0 minmax(300px, 600px);
        gap: 0;
        width: 100%;

        .left {
            transform: translateX(-100vw);
            &.active {
                transform: translateX(min(10px, (600px - 100vw) / 2 + 20px));
                .left-overlay {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }

        .middle {
            padding-inline: 5px;
        }
    }
}
