.navbar {
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 1fr;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    padding-inline: 20px;
    max-width: 1200px;
    width: 100%;

    .navbar_logo {
        min-width: 60px;
    }
    .menu {
        display: none;
        cursor: pointer;
    }

    .auth_buttons {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        text-wrap: nowrap;

        .btn {
            padding: 14px 26px;
            border-radius: 16px;
            background-color: #d7420c;
            color: white;
            font-weight: 400;
            font-size: 14px;
            transition: background-color 0.2s ease;
            cursor: pointer;

            &:hover {
                background-color: #9d3008;
            }
        }
    }
}

.button {
    padding-inline: 12px;
    height: 100%;
    align-content: center;
    cursor: pointer;
    width: 200px;
    text-align: center;

    transition: all 0.4s;

    &:hover {
        background-color: rgba(0, 10, 50, 0.1);
    }

}

.selectedButton {
    @extend .button;
    border-bottom: 3px solid red;
    padding-top: 2px;
}

.userIcon{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.userPfp {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

@media screen and (max-width: 768px) {
    .navbar {
        grid-template-columns: 35px auto 1fr auto;
        //gap: 10px;

        .menu {
            display: block;
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        .menu {
            > svg {
                width: 24px;
                height: 24px;
            }
        }

        .navbar_logo {
            width: 60px;
            > svg {
                width: 100%;
            }
        }
        .auth_buttons {
            .signup {
                display: none;
            }
        }
    }
}
