@keyframes skeletonShimmer {
    0% {
        background-color: #e3e3e3;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e3e3e3;
    }
}

.lineSkeleton,
.avatarSkeleton {
    animation: skeletonShimmer 1.5s ease-in-out infinite;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}


.headerSkeleton {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.avatarSkeleton {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 1rem;
}


.lineSkeleton {
    height: 16px;
    width: 100%;
}
