
.aside {
    background-color: white;
    padding: 16px;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    font-size: 14px;
    z-index: 2;
    transition: width 0.2s ease;
    text-wrap: nowrap;

    .inner_list {
        padding-inline-start: 10px;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .element {
        display: flex;
        align-items: center;
        justify-content: stretch;
        gap: 8px;
        padding: 10px 15px;
        border-radius: 20px;
        color: #333;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #eee;
            //color: white;
        }
        &.active {
            background-color: #d7420c;
            color: white;

            img {
                filter: invert(1);
            }
        }

        //> svg {
        //    //transition: transform 0.4s ease;
        //}
    }

    svg {
        width: 24px;
    }

    .community_icon {
        width: 24px;
        border-radius: 50%;
    }
    > li {
        //border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-block: 5px;
    }

    .inner_element, .user_community {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .aside {
        width: 77px;
        .inner_list {
            max-height: 0;
        }
        .element {
            padding: 10px;
            span {
                opacity: 0;
            }
        }

        &:hover {
            width: 250px;
            box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
            .element {
                padding: 10px 15px;
                span {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aside {
        width: 250px;
        .element {
            padding: 10px 15px;
            span {
                opacity: 1;
            }
        }
    }
}
