* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signUpBody {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signBox {
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 475px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    color: #606060;
    font-size: 14px;
    margin-bottom: 20px;
}

a {
    color: #0079d3;
    text-decoration: none;
}

.socialSign {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.socialBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.socialBtn:hover {
    background-color: #e9e9e9;
}

.separator {
    margin: 20px 0;
    font-size: 14px;
    color: #a1a1a1;
}

.signForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.nameContainer {
    display: flex;
    gap: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}

.formInput:focus {
    border-color: #0079d3;
    outline: none;
}

.invalidInput {
    border-color: red;
}

.error {
    color: red;
    font-size: 12px;
}


.forgotPassword {
    font-size: 14px;
    color: #0079d3;
    text-align: left;
    margin-bottom: 20px;
}

.signupBtn {
    background-color: rgb(215, 66, 12);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.signupBtn:hover {
    background-color: rgb(157, 48, 8);
}
