
.text {
    padding-block-end: 5px;
    word-break: break-word;
    white-space: pre-wrap;
}

.show_more {
    color: #808080ad;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}

.image {
    overflow: hidden;
    height: 350px;
    display: flex;
    border-radius: 10px;
    background-color: #5b5b5b;

    img {
        margin-inline: auto;
    }
}
