name = "server"
main = "src/index.ts"
compatibility_date = "2024-09-25"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "YOUR-D1-DB"
database_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[[r2_buckets]]
binding = "R2"
bucket_name = "YOUR-R2-BUCKET"
preview_bucket_name = "YOUR-R2-PREVIEW-BUCKET"

[triggers]
crons = ["*/60 * * * *"]

[[unsafe.bindings]]
name = "POSTS_RL"
type = "ratelimit"
namespace_id = "1001"
simple = { limit = 8, period = 10 }
