.userIconWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.userIcon {
    width: 43px;
    height: 43px;
}

.dropdown {
    position: absolute;
    top: 46px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 150px;
    height: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.dropdownItem {
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    height: 100%;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}

.dropdownItem:disabled {
    cursor: default;
    color: #888;
}
