.container {
    background-color: white;
    border-radius: 10px;
    min-height: calc(100vh - 80px);

    .header {
        padding: 10px 20px 30px;
        .header_top {
            display: flex;
            justify-content: space-between;
            align-items: start;
            //margin-block: 20px;

            .info {
                display: flex;
                align-items: center;
                gap: 16px;

                .icon {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                .community_name {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .actions {
                display: flex;
                gap: 10px;

                button {
                    padding: 5px 15px;
                    height: 36px;
                    border-radius: 20px;
                    color: white;
                    font-weight: 400;
                    font-size: 12px;
                    transition: background-color 0.2s ease;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &.join {
                        background-color: #d7420c;

                        &:hover {
                            background-color: #9d3008;
                        }
                    }

                    &.create {
                        color: #000;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        padding-left: 10px;

                        &:hover {
                            background-color: #eee;
                        }
                    }

                }
            }
        }
        .description {
            font-size: 14px;
            color: #4a4a4a;
            margin-block: 20px;
        }
    }
    .tabs {
        border-bottom: 1px solid #ddd;
        display: flex;
        color: #888;
        font-size: 14px;
        padding-inline: 10px;
        position: sticky;
        top: 70px;
        background-color: white;
        z-index: 1;

        .tab {
            padding: 5px 10px ;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #fafafa;
            }
            &.active {
                border-bottom: 2px solid var(--main-color);
            }
        }
    }
    .main {
        padding: 10px;

        h5 {
            display: inline-block;
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
        }
        .posts {

            > div {
                border-bottom: 1px solid #ccc;
            }
            > :not(:first-child) {
                border-top: 1px solid #ccc;
            }
        }
        .about {
            .info {
                margin-block-end: 10px;

                p {
                    font-size: 14px;
                }
            }
        }
        .settings {

            .setting {
                padding: 8px 4px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover {
                    background-color: #fafafa;
                }
            }
        }
    }
}

.message {
    font-size: 14px;
    color: #888;

}
