.reqContainer{
    margin-top: 5px;
    display: flex;
    align-items: start;
    gap: 5px;
}

.reqIcon{
    position: relative;
    bottom: 2px;
}

.invalid{
    color:red;
    margin: 0;
}

.valid{
    color:green;
    margin: 0;
}
