.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0 0.5rem 0.5rem;
}

.tabs {
    display: flex;
    color: #888;
    font-size: 14px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    gap: 10px;

    .tabElement {
        padding: 5px 10px ;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #fafafa;
        }
        &.active {
            border-bottom: 2px solid var(--main-color);
        }
    }
}
