.searchResult {
    padding: 10px 20px;
}

.searchResult:hover {
    background-color: #efefef;
    cursor: pointer;
}

.postSearchLink{
    color: #000;
    text-decoration: none;
}

.postSearchLink:hover{
    color: rgb(40, 91, 198);
    //color: rgb(186, 93, 42);
}
