.userContentContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f6f6f6;
}

.userCommunitiesContainer{
    margin-top: 2px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background-color: white;
    padding: 7px 12px;
    border-radius: 10px;
}
